@import "tailwindcss";

@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
  --background: #BDE8F5;
  --foreground: #1A202C;

  --brand-body: #2D3748;

  --action-primary: #4988C4;
  --action-secondary: #1C4D8D;

  --primary: #0F2854;
  --accent: #F56565; 
}


@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-body: var(--brand-body);

  --color-action-primary: var(--action-primary);
  --color-action-secondary: var(--action-secondary);
  
  --color-primary: var(--primary);
  --color-accent: var(--accent);

  --font-sans: var(--font-inter), ui-sans-serif, system-ui;
  /* --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui; */
  --font-heading: var(--font-figtree), ui-sans-serif, system-ui;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  ::selection {
    @apply bg-primary/30 text-foreground;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}

